*.bak
*~
*.dup
*.o
min-caml
min-caml.opt
min-caml.top
type.cmi
id.cmi
m.cmi
s.cmi
syntax.cmi
parser.cmi
lexer.cmi
typing.cmi
kNormal.cmi
alpha.cmi
beta.cmi
assoc.cmi
inline.cmi
constFold.cmi
elim.cmi
closure.cmi
asm.cmi
virtual.cmi
simm.cmi
regAlloc.cmi
emit.cmi
main.cmi
type.cmo
id.cmo
m.cmo
s.cmo
syntax.cmo
parser.cmo
lexer.cmo
typing.cmo
kNormal.cmo
alpha.cmo
beta.cmo
assoc.cmo
inline.cmo
constFold.cmo
elim.cmo
closure.cmo
asm.cmo
virtual.cmo
simm.cmo
regAlloc.cmo
emit.cmo
main.cmo
type.cmx
id.cmx
m.cmx
s.cmx
syntax.cmx
parser.cmx
lexer.cmx
typing.cmx
kNormal.cmx
alpha.cmx
beta.cmx
assoc.cmx
inline.cmx
constFold.cmx
elim.cmx
closure.cmx
asm.cmx
virtual.cmx
simm.cmx
regAlloc.cmx
emit.cmx
main.cmx
type.asm
id.asm
m.asm
s.asm
syntax.asm
parser.asm
lexer.asm
typing.asm
kNormal.asm
alpha.asm
beta.asm
assoc.asm
inline.asm
constFold.asm
elim.asm
closure.asm
asm.asm
virtual.asm
simm.asm
regAlloc.asm
emit.asm
main.asm
type.s
id.s
m.s
s.s
syntax.s
parser.s
lexer.s
typing.s
kNormal.s
alpha.s
beta.s
assoc.s
inline.s
constFold.s
elim.s
closure.s
asm.s
virtual.s
simm.s
regAlloc.s
emit.s
main.s
type.o
id.o
m.o
s.o
syntax.o
parser.o
lexer.o
typing.o
kNormal.o
alpha.o
beta.o
assoc.o
inline.o
constFold.o
elim.o
closure.o
asm.o
virtual.o
simm.o
regAlloc.o
emit.o
main.o
float.o
lexer.ml
parser.mli
parser.ml
min-caml.cma
min-caml.opt.cmxa
min-caml.opt.a
min-caml.cmi
min-caml.cmo
min-caml.opt.cmi
min-caml.opt.cmx
min-caml.opt.o
libmin-caml_stubs.a
type.annot
id.annot
m.annot
s.annot
syntax.annot
parser.annot
lexer.annot
typing.annot
kNormal.annot
alpha.annot
beta.annot
assoc.annot
inline.annot
constFold.annot
elim.annot
closure.annot
asm.annot
virtual.annot
simm.annot
regAlloc.annot
emit.annot
main.annot
*.cmi
*.cmo
*.cmx
.o
.d
dllmin-caml_stubs.so
test/print.s
test/sum-tail.s
test/gcd.s
test/sum.s
test/fib.s
test/ack.s
test/even-odd.s
test/adder.s
test/funcomp.s
test/cls-rec.s
test/cls-bug.s
test/cls-bug2.s
test/cls-reg-bug.s
test/shuffle.s
test/spill.s
test/spill2.s
test/spill3.s
test/join-stack.s
test/join-stack2.s
test/join-stack3.s
test/join-reg.s
test/join-reg2.s
test/non-tail-if.s
test/non-tail-if2.s
test/inprod.s
test/inprod-rec.s
test/inprod-loop.s
test/matmul.s
test/matmul-flat.s
test/manyargs.s
test/print
test/sum-tail
test/gcd
test/sum
test/fib
test/ack
test/even-odd
test/adder
test/funcomp
test/cls-rec
test/cls-bug
test/cls-bug2
test/cls-reg-bug
test/shuffle
test/spill
test/spill2
test/spill3
test/join-stack
test/join-stack2
test/join-stack3
test/join-reg
test/join-reg2
test/non-tail-if
test/non-tail-if2
test/inprod
test/inprod-rec
test/inprod-loop
test/matmul
test/matmul-flat
test/manyargs
test/print.res
test/sum-tail.res
test/gcd.res
test/sum.res
test/fib.res
test/ack.res
test/even-odd.res
test/adder.res
test/funcomp.res
test/cls-rec.res
test/cls-bug.res
test/cls-bug2.res
test/cls-reg-bug.res
test/shuffle.res
test/spill.res
test/spill2.res
test/spill3.res
test/join-stack.res
test/join-stack2.res
test/join-stack3.res
test/join-reg.res
test/join-reg2.res
test/non-tail-if.res
test/non-tail-if2.res
test/inprod.res
test/inprod-rec.res
test/inprod-loop.res
test/matmul.res
test/matmul-flat.res
test/manyargs.res
test/print.ans
test/sum-tail.ans
test/gcd.ans
test/sum.ans
test/fib.ans
test/ack.ans
test/even-odd.ans
test/adder.ans
test/funcomp.ans
test/cls-rec.ans
test/cls-bug.ans
test/cls-bug2.ans
test/cls-reg-bug.ans
test/shuffle.ans
test/spill.ans
test/spill2.ans
test/spill3.ans
test/join-stack.ans
test/join-stack2.ans
test/join-stack3.ans
test/join-reg.ans
test/join-reg2.ans
test/non-tail-if.ans
test/non-tail-if2.ans
test/inprod.ans
test/inprod-rec.ans
test/inprod-loop.ans
test/matmul.ans
test/matmul-flat.ans
test/manyargs.ans
test/print.cmp
test/sum-tail.cmp
test/gcd.cmp
test/sum.cmp
test/fib.cmp
test/ack.cmp
test/even-odd.cmp
test/adder.cmp
test/funcomp.cmp
test/cls-rec.cmp
test/cls-bug.cmp
test/cls-bug2.cmp
test/cls-reg-bug.cmp
test/shuffle.cmp
test/spill.cmp
test/spill2.cmp
test/spill3.cmp
test/join-stack.cmp
test/join-stack2.cmp
test/join-stack3.cmp
test/join-reg.cmp
test/join-reg2.cmp
test/non-tail-if.cmp
test/non-tail-if2.cmp
test/inprod.cmp
test/inprod-rec.cmp
test/inprod-loop.cmp
test/matmul.cmp
test/matmul-flat.cmp
test/manyargs.cmp
._bcdi/
._ncdi
._d/

